.pomodorotimer {
    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
        width: 100%;
        text-align: center;
        &-mode {
            font-size: 40px;
            color: $green;
            text-transform: capitalize;
        }
        &-timer {
            font-size: 80px;
        }
    }
}
