.slide {
    width: 100%;
    height: 400px;
    background: $white;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    transition: opacity 350ms;
    &__img {
        width: 100%;
        height: 300px;
        position: absolute;
        top: 0px;

        background-size: cover;
        overflow: hidden;
        background-repeat: no-repeat;
    }
    &__content {
        position: absolute;
        top: 300px;
        padding: 6px;
        color: black;
        & p {
            text-align: right;
            font-size: 10px;
        }
    }
}
